<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Error</h1>
    <p class="text-danger">{{ error_message }}</p>
    <a href="{{ url_for('main.index') }}" class="btn btn-primary">Go Back</a>
</div>
</body>
</html>
